{% extends "base.njk" %}

{% block content %}
<div class="row">
	<div class="col-lg-5 bg-primary text-light">
	<div class="d-flex flex-column justify-content-center h-100">
		<h1 class="perm-marker text-center m-2 display-1">Avery Foxes</h1>
	</div>
	</div>
	<div class="col-lg-7 bg-light m-0 p-0">
		<img src="{{ fingerprint['assets/avery-foxes.jpg'] }}" width="100%" alt="Avery Foxes">
	</div>
</div>

<div class="row bg-dark text-light py-5 px-2 px-xl-5">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 my-5">
		<h1 class="perm-marker text-center border-bottom border-primary">About</h1>
		{{contents | safe}}
		<div class="d-flex flex-row justify-content-center">
			<iframe class="m-3" allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Favery-foxes&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
			<a class="m-3" href="https://www.facebook.com/Avery-Foxes-1023527707771663/" target="_blank"><img width="32px" src="{{ fingerprint['assets/facebook-logo.svg'] }}" alt="Facebook" /></a>
		</div>
	</div>
</div>

<div class="row border-top border-primary bg-dark text-light">
	<div class="col-lg-7 border-right border-primary py-5 px-1 px-xl-5 px-lg-5 px-md-5 px-sm-1">
		<div class="py-5">
			<h1 class="perm-marker text-center border-bottom border-primary">Shows</h3>
			<ul class="list-group">
				{% for show in collections.shows %}
				<li class="list-group-item bg-primary text-light d-flex flex-wrap justify-content-between align-items-center">
					<span>{{show.title}}</span>
					<span class="badge badge-dark">{{show.date}}</span>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="col-lg-5 py-5 px-2 px-md-5 px-sm-2">
		<div class="py-5">
			<h1 class="perm-marker text-center border-bottom border-primary">Contact</h1>
			<p>{{contact.message}}</p>
			<form action="{{contact.formspreeURL}}" method="POST">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" name="name" id="name" value=""/>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" type="email" name="email" id="email" value=""/>
				</div>
				<div class="form-group">
					<label for="phone">Phone</label>
					<input class="form-control" type="tel" name="phone" id="phone" value=""/>
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="10" class="form-control"></textarea>
				</div>
				<input type="hidden" name="_next" value="{{contact.redirectURL}}"/>
				<input type="hidden" name="_subject" value="{{contact.subject}}" />
				<input type="text" name="_gotcha" class="d-none" />
				<div class="d-flex justify-content-around align-items-center">
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}