{% extends "base.njk" %}

{% block content %}
<div class="row bg-dark text-light h-100">
	<div class="col-xl-4 offset-xl-4 pt-5">
		<h1 class="text-center border-bottom border-primary">{{title}}</h1>
		<div class="d-flex justify-content-around">
			<a href="/" class="btn btn-primary">Home</a>
		</div>
	</div>
</div>
{% endblock %}