@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker');

body {
	font-family: 'Montserrat', serif;
}
.band-name {
	font-family: 'Permanent Marker', serif;
}

@import 'node_modules/bootstrap/scss/_functions.scss';

$theme-colors: (
	'secondary': #533,
	'dark': #222,
);


@import 'node_modules/bootstrap/scss/bootstrap.scss';