@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker');

html, body {
	height: 100%;
}
body {
	font-family: 'Montserrat', serif;
}
.perm-marker {
	font-family: 'Permanent Marker', serif;
}

@import 'node_modules/bootstrap/scss/_functions.scss';

$theme-colors: (
	'primary': #533,
	'dark': #222,
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';